* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;

}


.alicestyle {

    color:brown;
    font-family: 'Poppins', sans-serif;


}
.alicejob {
    font-size: xx-small;
    font-weight: bold;
    writing-mode: vertical-rl;
    
}
.bucketstyle {
    position: relative;
    top: 4rem;
    color:brown;
    font-family: 'Poppins', sans-serif;
    
}
.bucketjob {
    font-size: xx-small;
    font-weight: bold;
    writing-mode: vertical-rl;
}
.hurtstyle {
    
    
    color:brown;
    font-family: 'Poppins', sans-serif;
}
.hurtjob {
    font-size: xx-small;
    font-weight: bold;
    writing-mode: vertical-rl;
}
@media screen and (max-width: 600px) {
    .hurtstyle {
        position: relative;
        top:6rem;
    }
    
}
.jackstyle {
    
    
    position: relative;
    top: 6rem;
    color:brown;
    font-family: 'Poppins', sans-serif;

}
.jackjob {
    font-size: xx-small;
    font-weight: bold;
    writing-mode: vertical-rl;
}
@media screen and (max-width: 600px) {
    .jackstyle {
        top:10rem;
    }
}
.jamesstyle {
    position: relative;
    top: 10rem;

    color:brown;
    font-family: 'Poppins', sans-serif;

}
.jamesjob {
    font-size: xx-small;
    font-weight: bold;
    writing-mode: vertical-rl;
}
@media screen and (max-width: 600px) {
    .jamesstyle {
        top:12rem;
    }
}
.marystyle {
    position: relative;
    top: 6rem;
    color:brown;
    font-family: 'Poppins', sans-serif;

}
.maryjob {
    font-size: xx-small;
    font-weight: bold;
    writing-mode: vertical-rl;
}
@media screen and (max-width: 600px) {
    .marystyle {
        top:16rem;
    }
}
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headfont {
    font-family: 'Poppins', sans-serif;
}
.radius {
    border-radius: 1rem;
}
